:root {
    --primary-color: #3498db;
    --secondary-color: #145f91;
    --tertiary-color: #3e6993;
    --text-color: hsl(0, 0%, 100%);
    --background-color: rgba(13, 20, 36);
}
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 900;
    font-family: "DotGothic16", sans-serif;
    cursor: url('../images/cursor.png') 8 8, default;
}
a, button {
    cursor: url('../images/flipped-cursor.png'), pointer;
}